{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Apoderado list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('apoderado_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombres }} {{ entity.apPaterno }} {{ entity.apMaterno }}</td>
                <td>{{ entity.rut }}-{{ entity.dv }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.celular }}</td>
                <td>{{ entity.mail }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('apoderado_show', { 'id': entity.id }) }}">Ver detalles</a>
                    </li>
                    <li>
                        <a href="{{ path('apoderado_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('apoderado_new') }}">
                Ingresar nuevo apoderado
            </a>
        </li>
    </ul>
    {% endblock %}
