{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Apoderado</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Appaterno</th>
                <td>{{ entity.apPaterno }}</td>
            </tr>
            <tr>
                <th>Apmaterno</th>
                <td>{{ entity.apMaterno }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ entity.rut }}</td>
            </tr>
            <tr>
                <th>Dv</th>
                <td>{{ entity.dv }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('apoderado') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('apoderado_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('apoderado_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
